.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.PNG
*.pdf
cleaned_process_pcr_data.Rdata
all-elr-pcr-tests-updated-2020-10-05.csv
positive-tests-release-to-uci-team-2020-10-05.csv
*.log
*.xlsx
*.csv
*.html
*.docx

!education-by-zip.csv
!income-by-zip2.csv
!insurance-by-zip.csv
!zip-area2.csv
!zip-pop.csv
